<footer>
    <div class="footer-bg"></div>
    <div class="container">
        <div class="footer-content">
            <a href="#" class="logo" style="color: white;">
                <i class="fas fa-code"></i> Dhruv Pujara
            </a>
            <div style="font-size: 1.2rem;">
                Web Developer | DD Music 29 Creator
            </div>
        </div>
        <div class="copyright">
            &copy; 2023 Dhruv Pujara. All rights reserved. | Quality Projects at Best Prices
        </div>
    </div>
</footer>